* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scrollbar-width: 40px;
}

body {
    font-size: 1.6rem;
    font-family: $font-primary;
    color: $font-dark;
    position: relative;
}
