$font-primary: "Hind";

$color-primary: rgba(117, 16, 250, 1);
$color-navy: rgb(36, 37, 42);

$font-size-massive: 4rem;
$font-size-huge: 2.8rem;
$font-size-very-large: 2.2rem;
$font-size-large: 1.9rem;
$font-size-normal: 1.6rem;

$font-darkest: rgb(15, 15, 15);
$font-dark: rgb(37, 37, 37);
$font-medium: rgb(66, 66, 66);
$font-light: rgb(90, 90, 90);
$font-lightest: rgb(233, 233, 233);
