$font-primary: "Hind";

$color-primary: rgba(117, 16, 250, 1);
$color-navy: rgb(36, 37, 42);

$font-size-massive: calc(1.4vw + 2rem);
// $font-size-massive: 0.8rem;
$font-size-huge: calc(1vw + 1.6rem);
// $font-size-huge: 0.5rem;
$font-size-very-large: 2.2rem;
$font-size-large: 1.9rem;
$font-size-normal: 1.6rem;

$font-darkest: rgb(15, 15, 15);
$font-dark: rgb(37, 37, 37);
$font-medium: rgb(66, 66, 66);
$font-light: rgb(90, 90, 90);
$font-lightest: rgb(233, 233, 233);
