.intro {
    color: #222;
    padding: calc(8vw - 2rem) 2rem;
    padding-top: 8vw;
    height: calc(16rem + 12vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: 2.4rem;
    }
}
