.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 0.7rem 1.6rem;
    background-color: lighten($color-primary, 15%);

    div {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__button {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        @media only screen and (max-width: 450px) {
            padding: 0 0.4rem;
        }
    }

    &__button-link {
        color: inherit;
        list-style: none;
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: 500;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: inherit;

        @media only screen and (max-width: 450px) {
            font-size: 1.6rem;
        }
    }

    &__image {
        height: 6rem;
        width: 6rem;
    }
}
