.skills {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    &__image {
        height: calc(1.5vw + 4rem);
        margin: 0 calc(1vw + 0.4rem);
    }
}
